local.properties
/.gradle/
/.idea/
/build/
/app/build/
/app/release/

# ui
/lib_mediaplayer_ui/build

# mediax
/lib_mediaxplayer*

# exo
/lib_exoplayer*
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/
